/*--------------------------------------------------------------
# Courses One
--------------------------------------------------------------*/
.courses-one {
    position: relative;
    display: block;
    background: linear-gradient(256.49deg, #FFFBF5 0%, #FAEDFF 100%);
    padding: 120px 0 210px;
    z-index: 1;
}

.courses-one__carousel {
    position: relative;
    display: block;
}

.courses-one__single {
    position: relative;
    display: block;
    background-color: #ffffff1a;
    border: 1px solid var(--fistudy-bdr-color);
    border-radius: 24px;
    padding: 23px;
}

.courses-one__img-box {
    position: relative;
    display: block;
}

.courses-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 16px;
}

.courses-one__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: var(--fistudy-black);
    transition: opacity 0.5s ease;
    transition: all 0.5s ease;
    z-index: 1;
}

.courses-one__single:hover .courses-one__img::before {
    opacity: 0.7;
}

.courses-one__img img {
    width: 100%;
    border-radius: 16px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.courses-one__single:hover .courses-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.courses-one__content {
    position: relative;
    display: block;
    margin-top: 15px;
}

.courses-one__tag-and-meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.courses-one__tag {
    position: relative;
    display: block;
}

.courses-one__tag span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: var(--fistudy-font-two);
    color: var(--fistudy-primary);
    text-transform: capitalize;
    /*font-style: italic;*/
}

.courses-one__meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.courses-one__meta li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.courses-one__meta li .icon {
    position: relative;
    display: inline-block;
}

.courses-one__meta li .icon span {
    position: relative;
    display: inline-block;
    font-size: 13px;
    color: var(--fistudy-base);
}

.courses-one__meta li p {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    font-family: var(--fistudy-font-two);
}

.courses-one__title {
    font-size: 18px;
    line-height: 36px;
    margin-top: 12px;
    margin-bottom: 2px;
    text-transform: math-auto;
}

.courses-one__title a {
    color: var(--fistudy-black);
}

.courses-one__title a:hover {
    color: var(--fistudy-base);
}

.courses-one__ratting-and-heart-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--fistudy-bdr-color);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.courses-one__ratting-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 13px;
}

.courses-one__ratting {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.courses-one__ratting li {
    position: relative;
    display: block;
}

.courses-one__ratting li span {
    font-size: 14px;
    color: #FFC224;
}

.courses-one__ratting li:nth-child(4) span,
.courses-one__ratting li:nth-child(5) span {
    color: var(--fistudy-gray);
}

.courses-one__ratting-text {
    font-size: 16px;
    line-height: 26px;
}

.courses-one__heart {
    position: relative;
    display: block;
}

.courses-one__heart a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 1px solid var(--fistudy-bdr-color);
    border-radius: 50%;
    font-size: 18px;
    color: var(--fistudy-base);
}

.courses-one__heart a:hover {
    color: var(--fistudy-white);
    border: 1px solid var(--fistudy-base);
    background-color: var(--fistudy-base);
}

.courses-one__btn-and-doller-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-one__btn-box {
    position: relative;
    display: block;
}

.courses-one__btn-and-doller-box>span {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    font-family: var(--fistudy-font-two);
    color: var(--fistudy-primary);
}

.courses-one__carousel.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.courses-one__carousel.owl-carousel .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.courses-one__carousel.owl-carousel .owl-item.active {
    opacity: 1;
    visibility: visible;
}

.courses-one .courses-one__carousel .owl-nav {
    position: absolute;
    bottom: -90px;
    left: 0;
    margin: 0 !important;
}

.courses-one .courses-one__carousel .owl-dots {
    position: absolute;
    bottom: -97px;
    right: 0;
}


/*--------------------------------------------------------------
# Courses Two
--------------------------------------------------------------*/
.courses-two {
    position: relative;
    display: block;
    background: linear-gradient(105.09deg, #F9F5F6 0%, rgba(238, 241, 255, 0.92549) 50%, #F9F5F6 100%);
    padding: 120px 0 80px;
    z-index: 1;
}

.courses-two .row {
    --bs-gutter-x: 30px;
}

.courses-two__main-tab-box {
    position: relative;
    display: block;
}

.courses-two__filter {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    width: 511px;
    border: 1px solid var(--fistudy-bdr-color);
    padding: 3px 3px 3px;
    padding-right: 0;
    top: -110px;
    left: 0;
}

.courses-two__filter li {
    position: relative;
    display: flex;
    align-items: center;
}

.courses-two__filter li+li {
    margin-left: 0px;
}

.courses-two__filter li p {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: var(--fistudy-black);
    background-color: transparent;
    padding: 14px 15px 14px;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
    border-radius: 25px;
    transition: all 0.5s linear;
    z-index: 1;
}

.courses-two__filter li.active p {
    color: var(--fistudy-white);
}

.courses-two__filter li p:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0%;
    background-color: var(--fistudy-base);
    transition: all 0.3s ease;
    z-index: -1;
}

.courses-two__filter li.active p:before {
    height: 100%;
}

.courses-two__inner {
    position: relative;
    display: block;
}

.courses-two__single {
    position: relative;
    display: block;
    background-color: #FCFCFC;
    border: 1px solid var(--fistudy-bdr-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    padding: 19px 19px 14px;
    margin-bottom: 40px;
}

.courses-two__img-box {
    position: relative;
    display: block;
}

.courses-two__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 16px;
}

.courses-two__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--fistudy-black-rgb), .70);
    opacity: 0;
    transform: translateY(90px);
    transition: background-color 0.7s ease;
    transition: all 0.7s ease;
    z-index: 1;
}

.courses-two__single:hover .courses-two__img::before {
    opacity: 1;
    transform: translateY(0px);
}

.courses-two__img img {
    width: 100%;
    border-radius: 16px;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.courses-two__single:hover .courses-two__img img {
    transform: scale(1.05) rotate(0deg);
}

.courses-two__heart {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}

.courses-two__heart a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 16px;
    color: var(--fistudy-white);
    background-color: var(--fistudy-base);
    border-radius: 50%;
}

.courses-two__heart a:hover {
    color: var(--fistudy-base);
    background-color: var(--fistudy-white);
}

.courses-two__content {
    position: relative;
    display: block;
    margin-top: 14px;
}

.courses-two__doller-and-review {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-two__doller {
    position: relative;
    display: block;
}

.courses-two__doller p {
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    color: var(--fistudy-base);
}

.courses-two__review {
    position: relative;
    display: block;
}

.courses-two__review p {
    font-size: 14px;
    line-height: 24px;
    color: var(--fistudy-black);
}

.courses-two__review p i {
    color: #FFC224;
    font-size: 14px;
}

.courses-two__review p span {
    font-size: 14px;
    line-height: 24px;
    color: var(--fistudy-gray);
}

.courses-two__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    margin-top: 8px;
    margin-bottom: 18px;
}

.courses-two__title a {
    color: var(--fistudy-black);
}

.courses-two__title a:hover {
    color: var(--fistudy-base);
}

.courses-two__btn-and-client-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-two__btn-box {
    position: relative;
    display: block;
}

.courses-two__client-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.courses-two__client-img {
    position: relative;
    display: block;
    max-width: 40px;
    width: 100%;
}

.courses-two__client-img img {
    width: 100%;
    border: 1px solid var(--fistudy-base);
    border-radius: 50%;
}

.courses-two__client-content {
    position: relative;
    display: block;
    flex: 1;
}

.courses-two__client-content h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 1px;
}

.courses-two__client-content p {
    font-size: 12px;
    line-height: 22px;
    text-transform: capitalize;
}

.courses-two__client-content p span {
    font-family: var(--fistudy-font) !important;
}

.courses-two__meta {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px dashed var(--fistudy-bdr-color);
}

.courses-two__meta li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.courses-two__meta li .icon {
    position: relative;
    display: inline-block;
}

.courses-two__meta li .icon span {
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: #FF3EA5;
}

.courses-two__meta li:nth-child(2) .icon span {
    color: #FFC224;
}

.courses-two__meta li:nth-child(3) .icon span {
    color: var(--fistudy-base);
}

.courses-two__meta li p {
    font-size: 14px;
    line-height: 24px;
}




/*--------------------------------------------------------------
# Course List
--------------------------------------------------------------*/
.course-list {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F8FF 18%, #F6F8FF 100%);
    margin-bottom: 100px;
}

.course-list__right {
    position: relative;
    display: block;
}

.course-list__right-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--fistudy-bdr-color);
    border-radius: 16px;
    background-color: var(--fistudy-white);
    padding: 0 20px 0;
    margin-bottom: 30px;
}

.course-list__right-top-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.course-list__right-top-btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.course-list__right-top-btn a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--fistudy-white);
    border-radius: 50%;
    font-size: 14px;
}

.course-list__right-top-btn a:hover {
    color: var(--fistudy-white);
    background-color: var(--fistudy-base);
}

.course-list__showing-sort {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    gap: 15px;
}

.course-list__showing-sort p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--fistudy-black);
}

.course-list__showing-sort .select-box {
    position: relative;
    display: block;
    flex: 1;
}

.course-list__showing-sort .select-box .nice-select {
    color: var(--fistudy-gray);
    font-size: 14px;
    font-weight: 400;
    height: 70px;
    line-height: 70px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 0px;
    background-color: transparent;
}

.course-list__showing-sort .select-box .nice-select:after {
    position: absolute;
    left: 0;
}

/*--------------------------------------------------------------
# Course Carousel Page
--------------------------------------------------------------*/
.course-carousel-page {
    position: relative;
    display: block;
    padding: 120px 0 170px;
}

.course-carousel-page .courses-two__single {
    margin-bottom: 0;
}










/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/