/*--------------------------------------------------------------
# Banner One
--------------------------------------------------------------*/
.banner-one {
  position: relative;
  display: block;
  padding: 200px 0 100px;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
  z-index: 5;
}

.banner-one__icon-1 {
  position: absolute;
  top: 275px;
  left: 115px;
}

.banner-one__icon-1 img {
  width: auto;
}

.banner-one__icon-2 {
  position: absolute;
  bottom: 300px;
  left: 85px;
}

.banner-one__icon-2 img {
  width: auto;
}

.banner-one__icon-3 {
  position: absolute;
  bottom: 300px;
  left: 50px;
}

.banner-one__icon-3 img {
  width: auto;
}

.banner-one__shape-4 {
  position: absolute;
  top: 200px;
  right: 900px;
}

.banner-one__shape-4 img {
  width: auto;
}

.banner-one__bg-shape-1 {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.banner-one__left {
  position: relative;
  display: block;
  margin-top: 53px;
}

.banner-one__title-box {
  position: relative;
  display: block;
}

.banner-one__title-box-shape {
  position: absolute;
  bottom: -17px;
  right: 0;
}

.banner-one__title-box-shape img {
  width: auto;
}

.banner-one__title {
  font-size: 50px;
  /* line-height: 88px; */
  font-weight: 300;
  text-transform: capitalize;
}

.banner-one__title-clr-1 {
  font-weight: 600;
}

.banner-one__title-clr-2 {
  font-weight: 600;
  color: #f93d3d;
}

.banner-one__text {
  line-height: 23px;
  margin-top: 56px;
  margin-bottom: 40px;
}

.banner-one__thm-and-other-btn-box {
  position: relative;
  display: flex;
  justify-content: center;   /* ← این مهم است */
  align-items: center;       /* ← تراز عمودی */
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 25px;
}

.banner-one__btn-box {
  position: relative;
  background-color:#babfff88;
  display: inline-block;
  box-shadow: 0px 23px 40px rgba(83, 127, 248, 0.42);
  border-radius: 25px;
}

.banner-one__btn-box .thm-btn {
  background-color: #9aa1ff;
}

.banner-one__other-btn-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.banner-one__other-btn-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 7px;
  font-size: 14px;
  color: var(--fistudy-black);
  font-weight: 500;
  font-style: italic;
  font-family: var(--fistudy-font-two);
  border: 1px solid var(--fistudy-bdr-color);
  background-color: var(--fistudy-white);
  padding: 9px 20px 8px;
  border-radius: 23px;
}

.banner-one__other-btn-1 span {
  color: var(--fistudy-base);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.banner-one__other-btn-1:hover {
  background: linear-gradient(-92.7deg, #0088ff70 0.48%, #e5b7ff91 56.21%, #babfff 100%);
  color: var(--fistudy-white);
}

.banner-one__other-btn-2 span {
  color: var(--fistudy-primary);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.banner-one__other-btn-1:hover span {
  color: var(--fistudy-white);
}

.banner-one__right {
  position: relative;
  display: block;
  margin-left: 62px;
  margin-right: 40px;
}

.banner-one__img-box {
  position: relative;
  display: block;
}

.banner-one__img {
  position: relative;
  display: block;
  z-index: 1;
}

.banner-one__img>img {
  width: 100%;
  animation: topBottom 3s ease-in-out infinite;
}

.banner-one__img-shape-box {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 552px;
  height: 552px;
  background: rgba(109, 13, 212, 0.05);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  z-index: -1;
}

.banner-one__img-shape-1 {
  position: relative;
  width: 451px;
  height: 451px;
  background: rgba(109, 13, 212, 0.05);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-one__img-shape-2 {
  position: relative;
  width: 368px;
  height: 368px;
  background: rgba(109, 13, 212, 0.05);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-one__shape-1 {
  position: absolute;
  top: 51px;
  left: 0;
}

.banner-one__shape-1 img {
  width: auto
}

.banner-one__shape-2 {
  position: absolute;
  top: 126px;
  left: 0;
}

.banner-one__shape-2 img {
  width: auto
}

.banner-one__shape-3 {
  position: absolute;
  top: 32px;
  right: 0;
}

.banner-one__shape-3 img {
  width: auto
}

.banner-one__udemy-review {
  position: absolute;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 18px 15px 18px;
  max-width: 185px;
  width: 100%;
  bottom: 50px;
  right: 0;
}

.banner-one__udemy-review-img {
  position: absolute;
  top: -16px;
  left: -12px;
  max-width: 56px;
  border-radius: 50%;
}

.banner-one__udemy-review-img img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--fistudy-black);
}

.banner-one__udemy-review-logo {
  position: relative;
  display: block;
  margin-bottom: 7px;
}

.banner-one__udemy-review-logo img {
  width: auto;
}

.banner-one__udemy-review-client-info {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner-one__udemy-review-client-name {
  font-size: 15px;
  color:#000000;
  font-weight: 500;
  line-height: 16px;
}

.banner-one__udemy-review-star {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3px;
}

.banner-one__udemy-review-star span {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: var(--fistudy-primary);
}

.banner-one__student-trained {
  position: absolute;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
  box-shadow: 0px 0px 80px rgba(104, 126, 255, 0.47);
  border-radius: 12px;
  padding: 15px 15px 15px;
  max-width: 192px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  top: 155px;
  left: -60px;
  animation: leftRight 4s ease-in-out infinite;
}

.banner-one__student-trained-shape-1 {
  position: absolute;
  top: 18px;
  left: 18px;
}

.banner-one__student-trained-shape-1 img {
  width: auto;
}

.banner-one__student-trained-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner-one__student-trained-list li+li {
  margin-right: -10px;
}

.banner-one__student-trained-img {
  position: relative;
  display: block;
  max-width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.banner-one__student-trained-img img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--fistudy-bdr-color);
}

.banner-one__student-trained-count-box {
  position: relative;
  display: block;
  margin-top: 20px;
}

.banner-one__student-trained-count-box-inner {
  position: relative;
  display: flex;
  align-items: center;
}

.banner-one__student-trained-count-box-inner p {
  font-size: 20px;
  color: var(--fistudy-base);
  font-weight: 500;
  line-height: 30px;
  /*font-style: italic;
  font-family: var(--fistudy-font-two);*/
}

.banner-one__student-trained-count-box-inner span {
  font-size: 20px;
  color: var(--fistudy-base);
  font-weight: 500;
  line-height: 30px;
  /*font-style: italic;
  font-family: var(--fistudy-font-two);*/
}

.banner-one__student-trained-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--fistudy-black);
  /*font-style: italic;
  font-family: var(--fistudy-font-two);*/
}

.banner-one__category-search-box {
  position: relative;
  display: block;
  max-width: 960px;
  width: 100%;
  margin: 0px auto 0;
  z-index: 5;
}

.banner-one__category-search-inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner-one__category-select-box {
  position: relative;
  display: block;
  max-width: 290px;
  width: 100%;
}

.banner-one__category-select-box .select-box .nice-select {
    background: linear-gradient(-92.7deg, #c6e4ff4d 0.48%, #f0d6ff60 56.21%, #babfff6c 100%);
  color: var(--fistudy-gray);
  font-size: 16px;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  margin-bottom: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.banner-one__category-select-box .select-box .nice-select:after {
  position: absolute;
  left: 30px;
}

.banner-one__category-form {
  position: relative;
  display: block;
  flex: 1;
}

.banner-one__category-input {
  position: relative;
  display: block;
}

.banner-one__category-input input[type="search"] {
  font-size: 16px;
  color: var(--fistudy-gray);
  font-weight: 400;
  height: 60px;
  width: 100%;
      background: linear-gradient(92.7deg, #c6e4ff4d 0.48%, #f0d6ff60 56.21%, #babfff6c 100%);
  border: none;
  border-right: 1px solid var(--fistudy-bdr-color);
  outline: none;
  padding: 0 20px 0;
  padding-left: 133px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.banner-one__category-btn {
  position: absolute;
  top: 7px;
  left: 7px;
  border: none;
  background: linear-gradient(-92.7deg, #0088ff70 0.48%, #e5b7ff91 56.21%, #babfff 100%);
  font-size: 18px;
  line-height: 18px;
  color: var(--fistudy-white);
  font-weight: 500;
  padding: 14px 30px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.banner-one__category-btn:hover {
    background: linear-gradient(92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
}

.banner-one__tags {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
}

.banner-one__tags a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid var(--fistudy-bdr-color);
  color:#303030;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff7c 100%);
  padding: 6px 20px 6px;
  border-radius: 8px;
}

.banner-one__tags a:hover {
  background: linear-gradient(-92.7deg, #0088ff70 0.48%, #e5b7ff91 56.21%, #babfff 100%);
  color: var(--fistudy-white);
}

/*--------------------------------------------------------------
  # End
  ---------------------------------------------------------