/*--------------------------------------------------------------
# Category One
--------------------------------------------------------------*/
.category-one__brand-box {
    position: absolute;
    left: -273px;
    bottom: 650px;
    transform: rotate(-90deg);
}

.category-one__brand-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.category-one__brand-list li {
    position: relative;
    display: block;
}

.category-one__brand {
    position: relative;
    display: block;
}

.category-one__brand img {
    width: auto;
}

/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/