/*--------------------------------------------------------------
# Live Class One
--------------------------------------------------------------*/
.live-class-one {
    position: relative;
    background: linear-gradient(-92.7deg, #3b6fff36 0.48%, #b028ff47 56.21%, #0717ff54 100%);
    display: block;
    padding: 15px 0 120px;
    z-index: 1;
}

.live-class-one__left {
    position: relative;
    display: block;
}

.live-class-one__right {
    position: relative;
    display: block;
}

.live-class-one__carousel {
    position: relative;
    display: block;
}

.live-class-one__single {
    position: relative;
    display: block;
}

.live-class-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 40px;
    z-index: 1;
}

.live-class-one__img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cfbaff52;
    border-radius: 16px;
    opacity: 0;
    transform: translateY(50px);
    transition: background-color 0.7s ease;
    transition: all 0.7s ease;
    z-index: 1;
}

.live-class-one__single:hover .live-class-one__img:before {
    opacity: 1;
    transform: translateY(0px);
}

.live-class-one__img img {
    width: 100%;
    border-radius: 40px;
    transform: scale(1.0);
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
    transition-property: all;
}

.live-class-one__single:hover .live-class-one__img img {
    transform: scale(1.10) rotate(0deg);
}

.live-class-one__btn-box {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 3;
}

.live-class-one__btn-box .thm-btn {
    padding: 2px 15px 1px;
    font-size: 14px;
  background: linear-gradient(-92.7deg, #0088ff70 0.48%, #e5b7ff91 56.21%, #babfff 100%);
}

.live-class-one__btn-box .thm-btn::before {
    width: 27px;
    height: 27px;
    bottom: -15px;
    left: -8px;
}

.live-class-one__content {
    position: relative;
    display: block;
    margin-top: 14px;
}

.live-class-one__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 14px;
}

.live-class-one__title a {
    color: var(--fistudy-black);    color: #FF0000;

}

.live-class-one__title a:hover {
    color: var(--fistudy-base);
}

.live-class-one__class-time {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.live-class-one__circle {
    position: relative;
    display: block;
    height: 12px; /* کمی بزرگتر برای دید بهتر */
    width: 12px;
    background-color: #FF0000;
    border-radius: 50%;
    animation: liveBlink 3s infinite; /* نام انیمیشن، مدت، تکرار بی‌نهایت */
}

/* تعریف انیمیشن چشمک زدن */
@keyframes liveBlink {
    0%, 50%, 100% {
        opacity: 1; /* روشن */
        transform: scale(1); /* اندازه اصلی */
    }
    25%, 75% {
        opacity: 0.3; /* کم نور */
        transform: scale(1.3); /* کمی بزرگتر برای افکت زنده */
    }
}


.live-class-one__class-time-text {
    font-size: 14px;
    color: var(--fistudy-black);
    font-weight: 500;
    /*font-style: italic;*/
    font-family: var(--fistudy-font-two);
    line-height: 14px;
}

.live-class-one__carousel.owl-theme .owl-nav {
    position: absolute;
    left: -50px;
    bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.live-class-one__carousel.owl-theme .owl-nav .owl-next {
    height: 35px;
    width: 20px;
    line-height: 35px;
    border-radius: 18px;
    background-color: transparent;
    color: var(--fistudy-black);
    border: 1px solid var(--fistudy-bdr-color);
    font-size: 16px;
    margin: 0;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative;
    display: inline-block;
}

.live-class-one__carousel.owl-theme .owl-nav .owl-prev {
    height: 35px;
    width: 20px;
    line-height: 35px;
    border-radius: 18px;
    background-color: transparent;
    color: var(--fistudy-black);
    border: 1px solid var(--fistudy-bdr-color);
    font-size: 16px;
    margin: 0;
    text-align: center;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    position: relative;
    display: inline-block;
}

.live-class-one__carousel.owl-theme .owl-nav .owl-next {
    margin-left: 0px;
}

.live-class-one__carousel.owl-theme .owl-nav .owl-prev {
    margin-right: 0px;
}

.live-class-one__carousel.owl-theme .owl-nav .owl-next span,
.live-class-one__carousel.owl-theme .owl-nav .owl-prev span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live-class-one__carousel.owl-theme .owl-nav .owl-next:hover,
.live-class-one__carousel.owl-theme .owl-nav .owl-prev:hover {
    background-color: var(--fistudy-base);
    border: 1px solid var(--fistudy-base);
    color: var(--fistudy-white);
}

.live-class-one__carousel.owl-theme .owl-nav .owl-next::before,
.live-class-one__carousel.owl-theme .owl-nav .owl-prev::before {
    display: none;
}

/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/