/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    display: block;
    overflow: hidden;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
    z-index: 1;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.04;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.page-header__social {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(-92.7deg, #ffa3a7 0.48%, #d998ff 56.21%, #778bff 100%);
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -50%); 
    transform: rotate(0deg);
    padding: 11px 40px 11px;
    z-index: 5;
}

.page-header__social a {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--fistudy-white);
    text-transform: lowercase;
}

.page-header__social span {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--fistudy-white);
}

.page-header__inner {
    position: relative;
    display: block;
    padding: 160px 0 168px;
    z-index: 1;
}

.page-header__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.page-header__img img {
    width: auto;
    animation: topBottom 3s ease-in-out infinite;
}

.page-header__shape-1 {
    position: absolute;
    bottom: -45px;
    left: 0;
    z-index: -1;
    animation-name: rotateme;
    animation-duration: 24s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotateme;
    -webkit-animation-duration: 24s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotateme;
    -moz-animation-duration: 24s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotateme;
    -ms-animation-duration: 24s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: rotateme;
    -o-animation-duration: 24s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

.page-header__shape-1 img {
    width: auto;
}

.page-header__shape-2 {
    position: absolute;
    right: 50px;
    top: -5px;
    z-index: -1;
}

.page-header__shape-2 img {
    width: auto;
}

.page-header__shape-3 {
    position: absolute;
    right: -105px;
    bottom: 40px;
    z-index: -1;
}

.page-header__shape-3 img {
    width: auto;
}

.page-header__shape-4 {
    position: absolute;
    right: 310px;
    bottom: 20px;
    z-index: -1;
    -webkit-animation-name: float-bob-x;
    animation-name: float-bob-x;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.page-header__shape-4 img {
    width: auto;
}

.page-header__shape-5 {
    position: absolute;
    top: 65px;
    right: 110px;
    z-index: -1;
    -webkit-animation-name: float-bob-y;
    animation-name: float-bob-y;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.page-header__shape-5 img {
    width: auto;
}

.page-header__inner h2 {
    font-size: 34px;
    font-weight: 500;
    line-height: 60px;
    color: var(--fistudy-black);
    text-transform: capitalize;
    margin-bottom: 4px;
}

.thm-breadcrumb__box {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.thm-breadcrumb {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.thm-breadcrumb li {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: var(--fistudy-gray);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li span {
    color: var(--fistudy-base);
}

.thm-breadcrumb li a {
    position: relative;
    display: inline-block;
    color: var(--fistudy-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li:hover a {
    color: var(--fistudy-black);
}


/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/