
/*--------------------------------------------------------------
  # Review One
  --------------------------------------------------------------*/
.review-one {
    position: relative;
    display: block;
}

.comments-area {
    position: relative;
    display: block;
    border-top: 1px solid var(--fistudy-bdr-color);
    padding-top: 56px;
}

.review-one__title {
    position: relative;
    display: block;
    margin-bottom: 36px;
}

.review-one__title h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}


.comments-area .comment-box {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--fistudy-bdr-color);
}

.comments-area .comment {
    position: relative;
    display: flex;
    align-items: center;
}

.comments-area .comment-box .author-thumb {
    position: relative;
    display: block;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
}

.comments-area .comment-box .author-thumb img {
    width: 100%;
}

.comments-area .comment-box .author-thumb figure {
    margin: 0;
}

.review-one__content {
    position: relative;
    display: block;
    padding-right: 45px;
    flex: 1;
}

.review-one__content-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.review-one__content-top .info {
    position: relative;
    display: block;
}

.review-one__content-top .info h2 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    text-transform: capitalize;
}

.review-one__content-top .info h2 span {
    color: var(--fistudy-base);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
}

.review-one__content-top .reply-btn {
    position: relative;
    display: block;
}

.review-one__content-top .reply-btn i:before {
    color: var(--fistudy-base);
    font-size: 17px;
}

.review-one__content-bottom {
    position: relative;
    display: block;
}

.review-one__content-bottom p {
    font-size: 16px;
    line-height: 30px;
    margin: 0px;
}

/*--------------------------------------------------------------
  # Review Form One
  --------------------------------------------------------------*/
.review-form-one {
    position: relative;
    display: block;
    padding: 16px 0 120px;
}

.review-form-one__inner {
    position: relative;
    display: block;
}

.review-form-one__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.review-form-one__rate-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 25px;
}

.review-form-one__rate-text {
    font-size: 16px;
    font-weight: 400;
}

.review-form-one__rate {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.review-form-one__rate i {
    font-size: 17px;
    color: var(--fistudy-base);
}

.review-form-one__rate i+i {
    margin-right: 5px;
}

.review-form-one__form {
    position: relative;
    display: block;
}

.review-form-one__form .row {
    --bs-gutter-x: 20px;
}

.review-form-one__input-box textarea {
    font-size: 16px;
    color: var(--fistudy-gray);
    height: 190px;
    width: 100%;
    background-color: rgba(var(--fistudy-bdr-color-rgb), .50);
    padding: 25px 30px 30px;
    border: none;
    outline: none;
    margin-bottom: 0px;
    font-weight: 400;
    border-radius: 8px;
}

.review-form-one__input-box.text-message-box {
    height: 190px;
}

.review-form-one__input-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.review-form-one__input-box input[type="text"],
.review-form-one__input-box input[type="email"] {
    height: 60px;
    width: 100%;
    border: none;
    background-color: rgba(var(--fistudy-bdr-color-rgb), .50);
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    font-size: 16px;
    color: var(--fistudy-gray);
    display: block;
    font-weight: 400;
    border-radius: 8px;
}

.review-form-one__btn {
    border: none;
    margin-top: 10px;
}

/*-------------------------------------------------------------
# Account
--------------------------------------------------------------*/
.account {
    position: relative;
    display: block;
    padding: 120px 0 120px;
}

.account .container {
    max-width: 760px;
}

.account__main-tab-box {
    position: relative;
    display: block;
}

.account__main-tab-box .tab-buttons {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.account__main-tab-box .tab-buttons .tab-btn {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    text-align: center;
}

.account__main-tab-box .tab-buttons .tab-btn:nth-child(1) span {
    border-top-left-radius: 20px;
}

.account__main-tab-box .tab-buttons .tab-btn:nth-child(2) span {
    border-top-right-radius: 20px;
}

.account__main-tab-box .tab-buttons .tab-btn span {
    position: relative;
    display: block;
    text-align: center;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    font-size: 18px;
    line-height: 18px;
    color: var(--fistudy-black);
    background-color: transparent;
    padding: 22px 0px 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
    border: 1px solid var(--fistudy-bdr-color);
    font-family: var(--fistudy-font-two);
    text-transform: capitalize;
    letter-spacing: 0.1em;
}

.account__main-tab-box .tab-buttons .tab-btn.active-btn span {
    color: var(--fistudy-white);
}

.account__main-tab-box .tab-buttons .tab-btn span:before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    background-color: var(--fistudy-base);
    transform: scaleY(0.0) rotateX(0deg);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    z-index: -1;
}

.account__main-tab-box .tab-buttons .tab-btn:nth-child(1) span:before {
    border-top-left-radius: 20px;
}

.account__main-tab-box .tab-buttons .tab-btn:nth-child(2) span:before {
    border-top-right-radius: 20px;
}

.account__main-tab-box .tab-buttons .tab-btn.active-btn span:before {
    transform: scaleY(1.0) rotateX(0deg);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.account__main-tab-box .tabs-content {
    position: relative;
    display: block;
    border: 1px solid var(--fistudy-bdr-color);
    border-top: 0px;
    padding: 60px 80px 75px;
}

.account__main-tab-box .tabs-content .tab {
    position: relative;
    display: none;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 10;
}

.account__main-tab-box .tabs-content .tab.active-tab {
    display: block;
    margin-top: 0px;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.account__main-tab-inner {
    position: relative;
    display: block;
}

.account__form {
    position: relative;
    display: block;
}

.account__form-input-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.account__form-input-box input[type="text"],
.account__form-input-box input[type="password"] {
    height: 50px;
    width: 100%;
    border: none;
    background-color: rgba(var(--fistudy-bdr-color-rgb), .50);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    color: var(--fistudy-gray);
    display: block;
    font-weight: 500;
}

.account__form-btn-box {
    position: relative;
    display: flex;
    align-items: center;
}

.account__form-btn {
    border: none;
}

.account__form-btn-box .checked-box {
    position: relative;
    display: block;
    margin-left: 20px;
}

.account__form-btn-box .checked-box label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    margin-right: 0px;
    margin-bottom: 0;
    color: var(--fistudy-gray);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    font-family: var(--fistudy-font);
}

.account__form-btn-box .checked-box input[type="checkbox"] {
    display: none;
}

.account__form-btn-box .checked-box input[type="checkbox"]+label span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    background: var(--fistudy-white);
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 2px solid #dddddd;
}

.account__form-btn-box .checked-box label span:before {
    position: absolute;
    top: 3px;
    left: 4px;
    display: block;
    border-bottom: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    content: '';
    width: 6px;
    height: 9px;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    opacity: 0;
}

.account__form-btn-box.checked-box input[type="checkbox"]:checked+label span {
    border-color: #dddddd;
}

.account__form-btn-box .checked-box input[type="checkbox"]:checked+label span:before {
    opacity: 1;
}

.account__form-forgot-password {
    position: relative;
    display: block;
    margin-top: 9px;
}

.account__form-forgot-password a {
    font-size: 16px;
    font-weight: 500;
    color: var(--fistudy-gray);
    position: relative;
    display: inline-block;
}


/*--------------------------------------------------------------
# Sign Up One
--------------------------------------------------------------*/
.sign-up-one {
    position: relative;
    display: block;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
    padding: 112px 0px 120px;
    z-index: 1;
}

.sign-up-one .container {
    max-width: 620px;
}

.sign-up-one__form {
    position: relative;
    display: block;
}

.sign-up-one__form .inner-title {
    position: relative;
    display: block;
    padding-bottom: 60px;
}

.sign-up-one__form .inner-title h2 {
    font-size: 30px;
    line-height: 1.0em;
    font-weight: 500;
    background-color: #ffffff7c;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.548);
    text-transform: capitalize;
    display: inline-block;
}

.sign-up-one__form form {
    position: relative;
    display: block;
    box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.548);
    background: linear-gradient(-92.7deg, #ffa3a7 0.48%, #d998ff 56.21%, #778bff 100%);
    background-color: var(--fistudy-white);
    padding: 60px 50px 52px;
}

.sign-up-one__form form .form-group {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.sign-up-one__form form .input-box {
    position: relative;
    display: block;
}

.sign-up-one__form form input[type="text"],
.sign-up-one__form form input[type="email"] {
    position: relative;
    display: block;
    border-radius: 10px;
    border: 1px solid rgba(var(--fistudy-bdr-color-rgb), .50);
    background-color: rgba(var(--fistudy-bdr-color-rgb), .80);
    width: 100%;
    height: 60px;
    color: var(--fistudy-gray);
    text-align: center;
    font-size: 16px;
    font-family: var(--fistudy-font);
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    transition: all 500ms ease;
}

.sign-up-one__form form input[type="text"]:focus,
.sign-up-one__form form input[type="email"]:focus {
    border-color: var(--fistudy-base);
    background-color: var(--fistudy-white);
}

.sign-up-one__form form input[type="text"]::-webkit-input-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="text"]:-moz-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="text"]::-moz-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="text"]:-ms-input-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="email"]::-webkit-input-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="email"]:-moz-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="email"]::-moz-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form input[type="email"]:-ms-input-placeholder {
    color: var(--fistudy-gray);
}

.sign-up-one__form form .thm-btn {
    width: 80%;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sign-up-one__form form .thm-btn:hover::before {
    right: -50px;
}

.sign-up-one__form form .google-facebook {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* این خط برای وسط چین کردن محتوا اضافه یا تنظیم شده است */
    margin-top: 10px;
}

.sign-up-one__form form .google-facebook a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--fistudy-gray);
    background-color: var(--fistudy-white);
    color: var(--fistudy-black);
    font-size: 16px;
    line-height: 28px;
    font-family: var(--fistudy-font);
    font-weight: 500;
    padding: 10px 15px 10px;
    border-radius: 10px;
    letter-spacing: -0.01em;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.sign-up-one__form form .google-facebook a:hover {
    border: 1px solid var(--fistudy-base);
    background-color: var(--fistudy-white);
}

.sign-up-one__form form .google-facebook a+a {
    margin-right: 14px;
}

.sign-up-one__form form .google-facebook a .icon {
    position: relative;
    display: block;
    line-height: 0;
    margin-left: 10px;
}

.sign-up-one__form form .create-account {
    position: relative;
    display: block;
    padding-top: 22px;
}

.sign-up-one__form form .create-account p {
    margin: 0;
}

.sign-up-one__form form .create-account p a {
    font-weight: 500;
}

.sign-up-one__form form .create-account p a:hover {
    color: var(--fistudy-base);
}



/*--------------------------------------------------------------
# Login One
--------------------------------------------------------------*/
.login-one {
    position: relative;
    display: block;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
    background-color: var(--fistudy-white);
    padding: 112px 0px 120px;
    z-index: 1;
}

.login-one .container {
    max-width: 620px;
}

.login-one__form {
    position: relative;
    display: block;
}

.login-one__form .inner-title {
    position: relative;
    display: block;
    padding-bottom: 60px;
}

.login-one__form .inner-title h2 {
    font-size: 30px;
    line-height: 1.0em;
    font-weight: 500;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.548);
    text-transform: capitalize;
    display: inline-block;
}

.login-one__form form {
    position: relative;
    display: block;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff 100%);
    box-shadow: 0px 5px 32px rgba(0, 0, 0, 0.397);
    padding: 60px 50px 52px;
}

.login-one__form form .form-group {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.login-one__form form .input-box {
    position: relative;
    display: block;
}

.login-one__form form input[type="text"],
.login-one__form form input[type="email"] {
    position: relative;
    display: block;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(var(--fistudy-bdr-color-rgb), 50);
    background-color: rgba(var(--fistudy-bdr-color-rgb), .80);
    width: 100%;
    height: 60px;
    color: var(--fistudy-gray);
    font-size: 16px;
    font-family: var(--fistudy-font);
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    transition: all 500ms ease;
}

.login-one__form form input[type="text"]:focus,
.login-one__form form input[type="email"]:focus {
    border-color: var(--fistudy-base);
    background-color: var(--fistudy-white);
}

.login-one__form form input[type="text"]::-webkit-input-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="text"]:-moz-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="text"]::-moz-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="text"]:-ms-input-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="email"]::-webkit-input-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="email"]:-moz-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="email"]::-moz-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form input[type="email"]:-ms-input-placeholder {
    color: var(--fistudy-gray);
}

.login-one__form form .thm-btn {
    width: 80%;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.login-one__form form .thm-btn:hover::before {
    right: -50px;
}

.login-one__form form .remember-forget {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}


.login-one__form form .checked-box1 {
    position: relative;
    display: block;
    min-height: 26px;
}

.login-one__form form .checked-box1 input[type="checkbox"] {
    display: none;
}

.login-one__form form .checked-box1 label {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    color: var(--fistudy-gray);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    cursor: pointer;
    font-family: var(--fistudy-font);
}

.login-one__form form .checked-box1 input[type="checkbox"]+label span {
    position: absolute;
    display: block;
    top: 5px;
    right: 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid #e3e4ea;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.login-one__form form .checked-box1 label span:before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: 0;
    content: "";
    width: 8px;
    height: 8px;
    background: var(--fistudy-base);
    border-radius: 2px;
    margin: 3px auto 0px;
    transform: scale(0);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.login-one__form form .checked-box1 input[type="checkbox"]:checked+label span {
    border-color: var(--fistudy-base);
}

.login-one__form form .checked-box1 input[type="checkbox"]:checked+label span:before {
    transform: scale(1.0);
}


.login-one__form form .forget {
    position: relative;
    display: block;
}

.login-one__form form .forget a {
    color: var(--fistudy-black);
    font-size: 16px;
    line-height: 26px;
    font-family: var(--fistudy-font);
    font-weight: 400;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.login-one__form form .forget a:hover {
    color: var(--fistudy-base);
}

.login-one__form form .create-account {
    position: relative;
    display: block;
    padding-top: 25px;
}

.login-one__form form .create-account p {
    color: var(--fistudy-black);
}

.login-one__form form .create-account p a {
    color: var(--fistudy-base);
    font-weight: 500;
}