/*--------------------------------------------------------------
# Why Choose One
--------------------------------------------------------------*/
.why-choose-one {
    position: relative;
    display: block;
    padding: 20px 0 120px;
    z-index: 1;
}

.why-choose-one__shape-6 {
    position: absolute;
    top: 117px;
    left: 0px;
    z-index: -1;
}

.why-choose-one__shape-6 img {
    width: auto;
}

.why-choose-one__shape-7 {
    position: absolute;
    top: 215px;
    right: 0px;
    z-index: -1;
}

.why-choose-one__shape-7 img {
    width: auto;
}

.why-choose-one__left {
    position: relative;
    display: block;
    margin-left: 272px;
    margin-top: 33px;
}

.why-choose-one__img-box {
    position: relative;
    display: block;
    z-index: 1;
}

.why-choose-one__img {
    position: relative;
    display: block;
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
}

.why-choose-one__img::before {
    background: rgba(0, 195, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.why-choose-one__img:hover::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.why-choose-one__img img {
    width: 100%;
    border-radius: 40px;
    transition: .5s ease;
    transform: scale(1.05);
}

.why-choose-one__img:hover img {
    transform: scale(1);
}

.why-choose-one__img-2 {
    position: absolute;
    bottom: -177px;
    left: -145px;
    overflow: hidden;
    border-radius: 150px;
    z-index: 2;
}

.why-choose-one__img-2::before {
    background: rgba(255, 0, 191, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.why-choose-one__img-2:hover::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.why-choose-one__img-2 img {
    width: auto;
    border-radius: 150px;
    border: 4px solid var(--fistudy-white);
}

.why-choose-one__shape-1 {
    position: absolute;
    top: 37px;
    left: -113px;
    animation: topBottom 3s ease-in-out infinite;
}

.why-choose-one__shape-1 img {
    width: auto;
}

.why-choose-one__shape-2 {
    position: absolute;
    bottom: -115px;
    right: 90px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff8a 100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.636);
    border-radius: 8px;
}

.why-choose-one__shape-2 img {
    width: auto;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.why-choose-one__shape-2:hover img {
    transform: scale(0.9);
}

.why-choose-one__shape-3 {
    position: absolute;
    top: 30px;
    left: -140px;
    z-index: -1;
}

.why-choose-one__shape-3 img {
    width: auto;
}

.why-choose-one__shape-4 {
    position: absolute;
    top: 22px;
    left: 15px;
    animation: topBottom 3s ease-in-out infinite;
    z-index: -1;
}

.why-choose-one__shape-4 img {
    width: auto;
}

.why-choose-one__shape-5 {
    position: absolute;
    top: 80px;
    left: 146px;
    z-index: -1;
}

.why-choose-one__shape-5 img {
    width: auto;
}

.why-choose-one__right {
    position: relative;
    display: block;
}

.why-choose-one__right .section-title {
    margin-left: -50px;
    margin-bottom: 18px;
}

.why-choose-one__points-box {
    position: relative;
    display: block;
    margin-top: 25px;
    margin-bottom: 35px;
}

.why-choose-one__points-list {
    position: relative;
    display: block;    

}

.why-choose-one__points-list::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 26px;
    bottom: 18px;
    width: 1px;
    background-color: #6439FF;
}

.why-choose-one__points-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff8a 100%); 
    margin-bottom: 29px;
    border-radius: 20px;
}

.why-choose-one__points-icon-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 58px;
    background-color: #ff39d4;
    clip-path: polygon(51% 0, 51% 0, 100% 24%, 100% 76%, 51% 100%, 51% 100%, 0 76%, 0 24%);
    top: 4px;
}

.why-choose-one__points-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 56px;
    background-color: #ffffff;
    clip-path: polygon(51% 0, 51% 0, 100% 24%, 100% 76%, 51% 100%, 51% 100%, 0 76%, 0 24%);
}

.why-choose-one__points-icon img {
    width: auto;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.why-choose-one__points-list li:hover .why-choose-one__points-icon img {
    transform: scale(0.9);
}

.why-choose-one__points-content {
    position: relative;
    display: block;
    flex: 1;
}

.why-choose-one__points-content h3 {
    font-size: 18px;
    font-weight: 500;
        background: linear-gradient(-92.7deg, #c6e4ff70 0.48%, #f0d6ff91 56.21%, #babfff8a 100%); 
    border-radius: 30px;
    text-transform: capitalize;
    line-height: 30px;
}

.why-choose-one__points-content p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 5px;
}

.why-choose-one__btn-and-client-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 35px;
}

.why-choose-one__btn-box {
    position: relative;
    display: block;
}

.why-choose-one .why-choose-one__btn {
  background: linear-gradient(-92.7deg, #0088ffb1 0.48%, #d690ff91 56.21%, #8d95ff 100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.402);

}

.why-choose-one__client-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 304px;
    width: 100%;
  background: linear-gradient(-92.7deg, #89baff 0.48%, #d690ff91 56.21%, #8d95ff 100%);
    border: 3px solid var(--fistudy-bdr-color);
    padding: 11px 11px 11px;
    border-radius: 34px;
}

.why-choose-one__client-img-list {
    position: relative;
    display: flex;
    align-items: center;
}

.why-choose-one__client-img-list li {
    position: relative;
    display: block;
}

.why-choose-one__client-img-list li+li {
    margin-right: -16px;
}

.why-choose-one__client-img-list li img {
    border: 1px solid var(--fistudy-white);
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.why-choose-one__client-content {
    position: relative;
    display: block;
    flex: 1;
}

.why-choose-one__count-box {
    position: relative;
    display: flex;
    align-items: center;
}

.why-choose-one__count-box h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px !important;
    color: var(--fistudy-white);
  /*  font-style: italic;
	font-family: var(--fistudy-font-two) !important;*/
}

.why-choose-one__count-box span {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: var(--fistudy-white);
    /*font-style: italic;
	  font-family: var(--fistudy-font-two);*/
}

.why-choose-one__client-content p {
    font-size: 16px;
    line-height: 16px;
    color: var(--fistudy-white);
    text-transform: capitalize;
    margin-top: 1px;
}
/*--- دیده شده/*